@import '../../styles/abstracts/mixins';
@import '../../styles/base/fonts';

.form-container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $Open-sans;
    font-size: 1.6rem;
    .signUp-form{
        width: 50%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        justify-content: space-around;
        border: 1px solid #000000;
        padding: 0 5% 0 5%;
        .label{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            margin: 1vh;
            box-sizing: border-box;
            .input{
                width: 100%;
                right: 0px;
                box-sizing: border-box;
            }
        }
    }
}