$component-blue-color: #1d72c2;
$rounded-border: 5px;
$_100: #bb3e3f;
$_75: #ff6f00;
$_50: #ffc700;
$_25: #1cc1f5;
$table_border_shorthand : 1px solid #b1a6a6;
$result-background: #e8e8e8;
$ligth_blue: #8ec7fc;